{% extends "./base.html" %}
{% load static %}

{% block index %}

{% if all_jobs %}
    <div class="container jobs">
        <div class="row border-top"></div>
            {% for job in all_jobs %}
                <div class="row job" id="job-name-in">
                    <div class="col-sm-6" id="job-name">{{job.company.name}}</div>
                    <div class="col-sm-6" id="job-in"> THIS JOB IS IN</div>
                </div>
                <div class="row job" id="job-title-loc">
                        <div class="col-sm-6" id="job-title"><a href="{% url 'jobs:job_detail' job.id %}">{{job.title}}</a></div>
                        <div class="col-sm-6" id="job-loc"> {{job.company.city}} , {{job.company.state}}</div>
                </div>
            {% endfor %}
        <div class="row border-bottom"></div>
    </div>
{% else %}
    <p>No jobs available</p>
{% endif %}
{% endblock %}