#title {
    font: 'Lobster';
    color:  #ffffff;
}

#jumbotron-overrides {
    background-color: #D1603D;
}

#body-overrides {
    background-color: #DCDCDC;
}

.row.job {
    background: #ffffff;
    font: 'Lobster';
}

#findit {
    font: 'Lobster';
    font-size: 4em;
    color:  #ffffff;
}