#title {
    font: 'Lobster';
    color:  #ffffff;
}

#jumbotron-overrides {
    background-color: #D1603D;
}

#body-overrides {
    background-color: #DCDCDC;
}

.row.job {
    background: #ffffff;
    font-family: 'Georgia';
}

.row.job-detail {
    background: #ffffff;
    font-family: 'Georgia';
}

#job-detail-title {
    font-weight: bold;
    font-size: 1.3em;
}

#logo {
    padding-bottom: 0.5em;
}

#findit {
    font: 'Lobster';
    font-size: 4em;
    color:  #ffffff;
}

.container.jobs {
    max-width: 50%;
}

.row.border-top {
    height: 0.5em;
    background-color: #ffffff;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
}

.row.border-bottom{
    height: 0.5em;
    background-color: #ffffff;
    border-bottom-left-radius: 40rem;
    border-bottom-right-radius: 40rem;
}

#job-name {
    font-size: 1.3em;
    font-weight: bold;
}

#job-in {
    font-style: italic;
    font-weight: bold;
    color: #808080;
}

#job-name-in {
    padding-bottom: 0.8em;

}

#job-title-loc {
    padding-bottom: 1em;
}

#job-loc {
    color: #808080;
}

#job-detail-name {
    font-style: italic;
    padding-bottom: 0.9em;
    color: #808080;
}

#about{
    font-weight: bold;
}

#about-description {
    padding-bottom: 0.8em;
}

#job-description-title{
    font-weight: bold;
}

#job-description {
    padding-bottom: 0.9em;
}


